/*  .conteudo {
    border: 1px solid red;
     padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 2px; 
    padding: 10px 25px 2px 25px;  top right bottom left;
    padding: 10px;
    margin: 20px;
    margin: 25px 20px;
    width: 150px;
    }

    #noticia {
    background: cyan;
    border: 1px solid gray;
    padding: 10px;
 } */

 