/******* Barra de Navegação Horizontal ********/

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url(../images/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
    border: 1px solid red;
    float: left;
}

ul a {
    display: block;
    padding: 0 2em;
    line-height: 2em;
}