* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:  #ffffff url(../images/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    padding: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../images/logo.png);
    text-indent: -3000px;
}

/* Barra de navegação */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #ffffff;
    background: url(../images/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos {
    color: #ffffff;
    background: #de003e;
    cursor: text;
}

/* Configura layout de três colunas */
#conteudo {
    margin-top: 60px;
    background: #bebebe;
}

#primario {
    width: 270px;
    margin: 0 0 20px 195px;
    float: left;
    background: green;
}
#secundario {
    width: 270px;
    float: left;
    margin:  0 0 20px 15px;
    background: blue;
}
/* Essa lateral é colocada na esquerda usando um afastamento de margem
em conjunto com o #primario, para que leitores automatizados leiam
primeiro o conteúdo da div #primario */
#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
    background: yellow;
}

#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;
    color: #ffffff;
}