#caixa {
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: 20px 20px 20px 10px black;
    /* Deslocamento x, deslocamento y, desfoque, spread, cor */
}

#caixa h1{
    color: white;
    /* text-shadow: 8px 8px 5px black; */
    text-shadow: 10px 10px 6px rgba(0,0,0,0.6);

}
/* #caixa {
    width: 300px;
    height: 300px;
    /* background: url(../imagens/camera.png); */
    /* background: linear-gradient(45deg, yellow, green, blue, red); */
    /*background: radial-gradient(red, green, yellow, cyan);
}*/
/* 
#caixa h1 {
    background: rgba(204,204,204, 0.4); 
} 
*/

/*#caixa {
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
     padding: 10px;
    margin: 15px; */
    /* -webkit-border-radius: 20px 90px;
    -moz-border-radius: 20px 90px;
    border-radius: 20px 90px;
    
}

#caixa2 {
    width: 300px;
    height: 300px;
    background: #b9c941;

}*/